# Dart / Flutter
.dart_tool/
.packages
.pub/
build/
coverage/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# IDE
.idea/
.vscode/
*.iml

# Android
.gradle/
local.properties
**/captures/

# macOS
.DS_Store
